@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');

:root{ --cor-de-fundo:#fdd5d0;
    --cor-texto-principal:#f7b087;
    --cor-texto-secundaria:#faeeb6;
    --botao-ativo:#eb7091;
    --botao-inativo:#fcf494;
    
}


body{
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
    font-family: "Bitcount Grid Double Ink", system-ui;
}


.conteudo-principal { 
    justify-content: center; 
    align-items: center; 
    max-width: 1200px; 
    width: 100%; 
    margin: 0 auto;
 } 
    
    .titulo-principal { 
    text-align: left; 
    width: 100%; 
    font-size: 32px;
 }
  .titulo-principal span  { 
    color: #620e9e 
} 
    
    .botao { 
    background-color: var(--botao-inativo);
     display: flex; 
     justify-content: center; 
     padding: 1em; 
     font-size: 18px;
      align-items: center; 
      width: 100%;
     }